@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'roadRadio';
  src: url('./assets/RoadRadio.ttf');
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/Gilroy-Regular.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #393939;
}

/* Tailwind config or external CSS */
.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #baed93; /* Underline color */
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}
